body{
    background: url(https://images.unsplash.com/photo-1640906152676-dace6710d24b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);
}
h1{
    text-align: center;
}
.glass-panel{
    color: #fff;
    margin: 40px auto;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;
    padding: 32px;
    backdrop-filter: blur(10px);
}
.glass-box{
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.dropdown-item{
    color: #FFFFFF8C;
}
/*.no-border-bottom{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.no-border-top{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}*/
#main-content .container-fluid{
    border-radius: 0px;
}
#main-content .container-fluid:first-child{
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0;
}
#main-content .container-fluid:last-child{
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0;
}
#main-content .container-fluid:not(:first-child):not(:last-child){
    margin-top: 0;
    margin-bottom: 0;
}
body::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background-color: #555;
}

#big-logo.img-fluid{
    width: 35vw;
    height: 50vh;
}

#big-logo.glass-box{
    padding: 0;
    background-color: rgba(0,0,0,0);
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.footerbutton{
    --bs-btn-padding-y: 0.75rem;
    border-radius: 50%;
    line-height: 0;
    margin: 0.20rem;
}

#copyright{
    text-decoration: none;
    padding-bottom: 0;
}

#small-logo{
    height: 40px;
}
